{% extends 'base.html' %}


{% block content %}
    <div class="alert alert-{{ message.tags }}">

    </div>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <div class="container-fluid mt-3">
        <div class="row">
        <div class="col">
            <h1>Welcome to home page!</h1>
            <form method="get" action="{% url 'home' %}">{% csrf_token %}
                <div>
                    <input type="text" name="user-search" placeholder="Search for users with email">
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </form>

            {% if search %}
                {{ search.email }}
                {% if search in user.friends.all %}
                    <input class="btn btn-disabled" type="button" value="(Friend)">
                {% else %}
                    {% if search in user.request_sent_list.all %}
                        <input class="btn btn-disabled" type="button" value="(Request sent)">
                    {% else %}
                        <form method="post" action="{% url 'accounts:send-request' search.id %}">{% csrf_token %}
                            <input class="btn btn-success" type="submit" value="Add friend">
                        </form>
                    {% endif %}
                {% endif %}
            {% else %}
                {{ no_user }}
            {% endif %}

        </div>
    </div>
    </div>

{% endblock%}